/* Mode clair (par défaut) */
body {
    background-color: white;
    color : black;
    transition: background-color 0.3s, color 0.3s;
}
#rep {
    background-color: white;
    color : black;
}
#desc {
    background-color: white;
    color : black;
}

/* Mode sombre */
.dark-mode {
    background-color: grey;
    color: white;
}
.dark-mode #rep {
    background-color: grey;
    color: white;
}
.dark-mode #desc {
    background-color: grey;
    color: white;
}
